<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Student Career System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

    <nav class="navbar">

        <div class="logo">
            AI Career System
        </div>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/register">Register</a>
        </div>

    </nav>


    <section class="hero">

        <h1>AI-Based Student Performance Analysis</h1>

        <h2>Career Recommendation System</h2>

        <p>
            Analyze your academic performance, skills and interests
            using Artificial Intelligence.
        </p>

        <a href="/register" class="btn">
            Get Started
        </a>

    </section>

</body>

</html>